*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f0f0f0;
}

#gorro {
    position: absolute;
    top: 30vh;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 65px;
    z-index: 10;
    background: #a65c18;
    border-radius: 160px / 100px;
}  

#punta {
    position: absolute;
    top: -10px;
    left: 50%;
    width: 10px;
    height: 20px;
    border-radius: 55%;
    background: #a65c18; 
    transform: translateX(-50%);
    transform: rotate(45deg);
}

#cuerpo {
    position: absolute;
    top: 32vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 6;
    width: 250px;
    height: 365px;
    background: #fefcac;
    border-radius: 200px;
}

#ojoderecho {
    position: absolute;
    top: 100px;
    left: 50px;
    width: 10px;
    height: 10px;
    background: #a65c18;
    border-radius: 100%;
}

#ojoizquierdo {
    position: absolute;
    top: 100px;
    right: 50px;    
    width: 10px;
    height: 10px;
    background: #a65c18;
    border-radius: 100%;
}

#nariz {
    position: absolute;
    top: 120px;
    left: 50%;
    z-index: 7;
    transform: translateX(-50%);
    width: 20px;
    height: 15px;
    border-radius: 100%;
    background: #a65c18;
}

#boca {
    position: absolute;
    top: 145px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 7;
    width: 40px;
    height: 20px;
}

.linea {
    position: absolute;
    top: -10px;
    width: 20px;
    height: 12px;
    z-index: 7;
    border: 5px solid #a65c18;
    border-top: none;   
    border-radius: 0 0 12px 12px; 
}

#bocad {
    left: 2px;
    z-index: 7;
    border-right: none;
}

#bocai {
    left: 17px;
    z-index: 7;
    border-left: none;
}

#cuerpo2 {
    position: absolute;
    top: 45vh;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 270px;
    z-index: 1;
    background: #fefcac;
    border-radius: 200px;
}
#piernaizquierda{
    position: absolute;
    top: 65vh;
    left: 55%;
    transform: translateX(-50%);
    width: 80px;
    height: 150px;
    z-index: 6;
    background: #fefcac;
    border-radius: 200px;
}
#piernaderecha{
    position: absolute;
    top: 65vh;
    left: 45%;
    transform: translateX(-50%);
    width: 80px;
    height: 150px;
    z-index: 6;
    background: #fefcac;
    border-radius: 200px;
}
#brazoizquierdo{
    position: absolute;
    top: 50vh;
    left: 55%;
    transform: translateX(-50%);
    transform: rotate(45deg);
    width: 80px;
    height: 200px;
    z-index: 6;
    background: #fefcac;
    border-radius: 200px;
}
#brazoderecho{
    position: absolute;
    top: 50vh;
    left: 40%;
    transform: translateX(-50%);
    transform: rotate(135deg);
    width: 80px;
    height: 200px;
    z-index: 6;
    background: #fefcac;
    border-radius: 200px;
}
#orejaizquierda{
    position: absolute;
    top: 32vh;
    left: 40%;
    transform: translateX(-50%);
    transform: rotate(240deg);
    width: 80px;
    height: 200px;
    z-index: 4;
    background: #fefcac;
    border-radius: 200px;
}
#orejaderecha{
    position: absolute;
    top: 32vh;
    left: 55%;
    transform: translateX(-50%);
    transform: rotate(130deg);
    width: 80px;
    height: 200px;
    z-index: 4;
    background: #fefcac;
    border-radius: 200px;
}
#background{
    height: 100vh;
    z-index: 0;
    background-color: black;
}
